.get-back {
    &__wrap {}

    &__sub-title {
        font-size: 13px;
        color: #43474e;
        letter-spacing: 0.15px;
        margin-bottom: 6px;
    }

    &__form-group {
        margin-bottom: 20px;
    }

    &__on-phone {
        color: #43474e;
        font-size: 13px;
        letter-spacing: 0.15px;
        text-decoration: none;
        display: block;
        margin-bottom: 37px;

        &:before {
            content: '';
            display: inline-block;
            @include sprite($post);
            margin-right: 6px;
            position: relative;
            top: 5px;
        }
    }

    &__btn {
        padding-top: 0;
        max-width: 200px;
    }
}
